h1 {
    font-family: fantasy;
    background-color: #B2B2F3;
    color:wheat
    }
    
    p {
    background-color: pink;
    color:wheat
    }
    
    li {
    background-color: #A8A7A7;
    color:wheat
    }